@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit;
	vertical-align: baseline; */
}

body{
    background-image: url('https://images.unsplash.com/photo-1536244636800-a3f74db0f3cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=792&q=80');
    font-family: 'Poppins' , sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 150vh;
}

.container{
    /* padding: 50px 70px; */
    color: white;
}

.forecast{
    display: flex;
    background-color: #263238;
    opacity: 0.8;
    bottom: 0;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.forecast div{
    padding: 4px;
}

.forecast .curForecast{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 10px;
}

.forecast .futureForecast{
    align-items: center;
    justify-content: center;
    display: flex;
}

.curForecast .day{
    font-size: 25px;
    padding: 0 20px 10px 20px;
    align-items: center;
}

.curForecast .temp{
    font-size: 15px;
    padding: 0 20px 10px 20px;
}

.futureForecast .futureForecast-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 10px;
    width: auto;
}

.futureForecast-item{
    height: auto;
    width: 100%;
    color: white;
}

.futureForecast-item:hover{
    color: black;
    background-color: #455a64;
}

.curForecast:hover{
    color: black;
    background-color: #455a64;
}

.time{
    font-size: 50px;
}

.time span{
    font-weight: 200;
    font-size: 25px;
}

.date{
    font-weight: 200;
    font-size: 20px;
}

.time-date{
    padding: 50px 0 15px 100px;
}

.Location{
    padding: 50px 50px 15px 100px;
}

.currentInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.time-zone{
    font-size: 30px;
}

#inputLoc{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 20px;
}

#inputLoc::placeholder{
    color: white;
}

.current-weather-condition{
    background-color: #263238;
    border: 1px solid white;
    width: max-content;
    opacity: 0.8;
    border-radius: 10px;
    margin: 5px 0 0 100px;
    padding: 10px;
    width: 200px;
}

.current-weather-condition .weather-item{
    display: flex;
    justify-content: space-between;
    color: #cfd8dc;
}

.weather-item div{
    padding: 5px;
}

.weather-item:hover{
    color: white;
}
#serchloc{
$btn-d: 5em;
$txt-w: 4*$btn-d;
$txt-h: .65*$btn-d;
$txt-c: #ffeacc;
$mag-d: .5*$txt-h;
$mag-f: .125;
$mag-w: $mag-f*$mag-d;
$mag-c: #000;
$t: .65s;

*, :before, :after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit
}

html { overflow-x: hidden }

body {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	min-width: 400px; min-height: 100vh;
	background: #252525
}

[id='search-btn'] {
	position: absolute;
	left: -100vw;
	
	~ * {
		--i: var(--pos, 1);
		--j: calc(1 - var(--i))
	}
	
	&:checked ~ * { --pos: 0 }
}

[for='search-btn'] {
	order: 1;
	overflow: hidden;
	position: relative;
	z-index: 2;
	margin-left: -.25*$btn-d;
	width: $btn-d; height: $btn-d;
	border-radius: 50%;
	transform: translate(var(--pos, -.5*$txt-w)) rotate(45deg);
	background: hsl(calc(336 - var(--i)*269), calc(77% + var(--i)*2%), calc(49% + var(--i)*13%));
	text-indent: -100vw;
	transition: $t ease-out;
	cursor: pointer;
	
	&:before, &:after {
		position: absolute;
		top: 50%; left: 50%;
		margin: -.5*$mag-d;
		width: $mag-d; height: $mag-d;
		transition: inherit;
		content: ''
	}
	
	&:before {
		margin-top: -.4*$mag-w;
		height: $mag-w;
		transform-origin: 100% 0;
		transform: translate(var(--pos, .25*$mag-d)) 
			scalex(calc(1 - var(--i)*.5));
		background: currentcolor;
	}
	
	&:after {
		border: solid $mag-w currentcolor;
		border-radius: calc(var(--i)*50%);
		transform: translate(var(--pos, -.25*$mag-d)) 
			scalex(calc(var(--j)*#{$mag-f} + var(--i)));
		box-shadow: inset 0 0 0 calc(var(--j)*#{.5*$mag-d}) currentcolor;
		transition-property: border-radius, transform, box-shadow;
		transition-timing-function: 
			cubic-bezier(calc(var(--j)*.42),0,calc(1 - var(--i)*.42),1), 
			cubic-bezier(calc(var(--i)*.42),0,calc(1 - var(--j)*.42),1)
	}
}

[id='search-bar'] {
	margin-right: -.25*$btn-d;
	border: none;
	padding: 0 1em;
	width: $txt-w; height: $txt-h;
	border-radius: $txt-h;
	transform: translate(var(--pos, .5*$txt-w));
	background: #3f324d;
	--cp: inset(-2em var(--pos, 100%) -2em -2em);
	-webkit-clip-path: var(--cp);
					clip-path: var(--cp);
	color: #fff;
	font: 1em century gothic, verdana, arial, sans-serif;
	transition: $t;
	
	&::placeholder {
		opacity: .5;
		color: inherit;
		font-size: .875em;
		letter-spacing: 1px;
		text-shadow: 0 0 1px, 0 0 2px
	}
	
	&:focus {
		outline: none;
		box-shadow: 0 0 1.5em $txt-c, 0 1.25em 1.5em rgba(#000, .2);
		background: $txt-c;
		color: #000;
	}

}

.locItem{
    display: flex;
}
@media only screen and (max-width:1400px) {

    .forecast{
        justify-content: start;
        margin-left: 10px;
        align-items: none;
        overflow-x: scroll;
    }
    
}

@media only screen and (max-width:800px){

    .forecast{
        justify-content: start;
        overflow-y: scroll;
        align-items: none;
    }
}
